<!DOCTYPE html>
<html>
  <head>
    <title>TizerSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @is_single_bar_page != nil  %>
      <%= stylesheet_link_tag "shared/side_bar_page" , media: "all" %>
    <% else %>
      <%= stylesheet_link_tag "shared/single_bar_page" , medial: "all" %>
    <% end %>
    <%= stylesheet_link_tag "shared/reset" , media: "all" %>
    <%= render partial: "shared/header" %>
    <%= yield %>
  </body>
</html>
